.reply-title{
    background-color: #F8F9FA;
    border-top: 1px solid #CED4DA;
    border-bottom: 1px solid #CED4DA;
    margin: 12.5px -32px 0 -16px;
    padding: 18px 16px 19px;
    select{
        border: none;
        background-color: #F8F9FA;
        font-size: 16px;
        font-weight: bold;
        outline: 0;
        &:hover{
            cursor: pointer;
        }
    }
    a{
        margin-right: 12px;
        &:first-child{
            margin-left: 24px;
        }
    }
}
textarea{
    border: none;
    outline: 0;
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.5;
    &::placeholder{
        color: #CED4DA;
    }
    
}
